services:
  backend:
    image: jafber/myeloma-predict-backend
    build:
      context: ./backend
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthz"]

  frontend:
    image: jafber/myeloma-predict-frontend
    build:
      context: ./frontend
    restart: always
    depends_on:
      - backend
    environment:
      - NODE_ENV=production
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
