services:
  backend:
    image: jafber/myeloma-predict-backend
    build:
      context: ./backend
    restart: always

  frontend:
    image: jafber/myeloma-predict-frontend
    build:
      context: ./frontend
    restart: always
    depends_on:
      - backend
    environment:
      - NODE_ENV=production
