:root{
  --primary: #e2520d;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 600;
}

a {
  color: inherit;
  font-style: italic;
}
